<div class="container">
  <div class="row">
    <h3>Justify Center, Align Center</h3>
  </div>
  <div class="row ex justify-center align-center">
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
  </div>

  <div class="row mt-2">
    <h3>Justify Start, Align Start</h3>
  </div>
  <div class="row ex justify-start align-start">
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
  </div>

  <div class="row mt-2">
    <h3>Justify Between, Align Flex-end</h3>
  </div>
  <div class="row ex justify-between align-end">
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
    <div class="col item"></div>
  </div>


</div>
