.row.ex {
    background-color: #d1c4e9;
    border: 1px solid #a094b7;
    gap: 30px;
    padding: 20px;
    min-height: 200px;
  }
  
  .item {
    background-color: #673ab7;
    width: 100px;
    height: 100px;
    gap: 20px;
  }