<!-- Toolbar -->
<mat-toolbar color="accent" class="mat-elevation-z6">
  <span>Responsive Frogs</span>
  <nav>
    <a mat-button routerLink="/frogs" routerlinkactive="navbar-header-item-selected"
      class="mat-focus-indicator navbar-hide-small navbar-header-item-selected"> Frogs</a>
      <a mat-button routerLink="/flex" routerlinkactive="navbar-header-item-selected"
      class="mat-focus-indicator navbar-hide-small navbar-header-item-selected"> Flex Examples</a>
  </nav>

</mat-toolbar>

<router-outlet class="fullHeight"></router-outlet>


