<div class="container">

  <div class="row justify-center align-center mt-2">    
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-rain-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-rain-800w.png">
        <img src="../assets/Images/frog-rain-800w.png" alt="Rain frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-pac-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-pac-800w.png">
        <img src="../assets/Images/frog-pac-800w.png" alt="Pacman Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-budg-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-budg-800w.png">
        <img src="../assets/Images/frog-budg-800w.png" alt="Budgett's Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-dwarf-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-dwarf-800w.png">
        <img src="../assets/Images/frog-dwarf-800w.png" alt="African Dwarf Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-abull-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-abull-800w.png">
        <img src="../assets/Images/frog-abull-800w.png" alt="African Bullfrog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-tree-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-tree-800w.png">
        <img src="../assets/Images/frog-tree-800w.png" alt="White's Tree Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-bull-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-bull-800w.png">
        <img src="../assets/Images/frog-bull-800w.png" alt="American Bullfrog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-eared-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-eared-800w.png">
        <img src="../assets/Images/frog-eared-800w.png" alt="Borneo Eared Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-milk-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-milk-800w.png">
        <img src="../assets/Images/frog-milk-800w.png" alt="Brazilian Milk Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-waxy-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-waxy-800w.png">
        <img src="../assets/Images/frog-waxy-800w.png" alt="Waxy Monkey Tree Frog" class="img-fluid">
      </picture>
      <picture class="col-auto img-fluid">
        <source media="(max-width: 799px)" srcset="../assets/Images/frog-long-400w.png">
        <source media="(min-width: 800px)" srcset="../assets/Images/frog-long-800w.png">
        <img src="../assets/Images/frog-long-800w.png" alt="Long-nosed Horned Frog" class="img-fluid">
      </picture>

  </div> 
</div>